.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
}
.navbar .logo {
  margin-left: 4%;
  height: 80px;
  width: 125px;
}

.navbar .searchNone {
  display: none;
}

.navbar .search input {
  display: block;
  height: 50px;
  width: 280px;
  border-radius: 30px;
  border: 3px solid #777;
  padding: 5px;
  padding-left: 16px;
  color: chocolate;
  outline: none;
  font-size: 18px;
}

.nav-center {
  display: flex;
  list-style: none;
  gap: 24px;
  color: black;
  font-size: 20px;
}
.navbar li {
  font-weight: 600;
  font-size: medium;
  cursor: pointer;
}

/* Define the animation */
@keyframes underline {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/* Apply the animation to the underline */
.navbar li::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: chocolate;
  transition: width 0.3s ease;
}

/* Trigger the animation on hover */
.navbar li:hover::after {
  animation: underline 0.5s forwards;
}

.nav-right {
  display: flex;
  align-items: center;
  gap: 40px;
  margin-right: 6%;
}
.navbar button:hover {
  background-color: #fff;
  color: #000;
}
.nav-right button {
  border: 1px solid black;
  font-size: medium;
  font-weight: 580;
  color: rgb(244, 244, 244);
  background: #000;
  cursor: pointer;
  border-radius: 20px;
  padding: 10px 16px;
}
